All the stats:
<table>
<tr>
  <th>Name</th>
  <th>Birth Date</th>
  <th>Age</th>
  <th>Color</th>
  <th>Sex</th>
</tr>
<tr>
  <td><%=@cat.name%></td>
  <td><%=@cat.birth_date%></td>
  <td><%=@cat.age%></td>
  <td><%=@cat.color%></td>
  <td><%=@cat.sex%></td>
</tr>
</table>